.student_table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .add_student_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blueviolet;
    padding: 10px;
  }

  .user_table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }