.students{
  background: white;
  padding: 10PX;
  border-radius: 10PX;
}
.students th{
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
    color: blueviolet;
    text-align: center;
  }
  
  .student_tr:nth-child(even) {
    background-color: rgb(206, 206, 206);
  }
  
  .students td{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

