*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.app{
  position: relative;
  min-height: 100vh;
}
.content_wrap{
  padding-bottom: 2.5rem;
}

.header_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color:blueviolet;
  margin-bottom: 10px;
  color: aliceblue;
}

.students th{
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
  color: blueviolet;
  text-align: center;
}

.students td{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;

}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: blueviolet;
  padding: 5px;
  color: aliceblue;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  
}

.student_table{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

form input{
  margin-bottom: 3px;
}

form label{
  font-size: 12px;
  margin-bottom: 2px;
}

form button{
  background-color: rgb(79, 25, 130);
  color: #ddd;
  font-weight: bold;
  
}

.btn_add{
  background-color: rgb(143, 85, 198);
  color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
}

.btn_add_div{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  margin-bottom: 3px;
}
